html {
  margin: 0px;
  padding: 0px;
}
head {
  margin: 0px;
  padding: 0px;
}
p {
  text-indent: 2em;
  max-width: 650px;
  margin: 0px auto;
  font-family: sans-serif;
  text-align: justify;
  hyphens: auto;
  color: aliceblue;
  font-size: 18px;
  line-height: 1.8;
}
p.Chapter_title {
  text-indent: 0;
  max-width: 650px;
  margin: 0px auto;
  font-family: sans-serif;
  text-align: left;
  color: aliceblue;
  font-size: 30px;
  line-height: 3;
}
p.Banner_text {
  color: black;
  margin: 0px;
}
div.Chapter_title {
  align-items: center;
}
div.Banner {
  margin-top: 0px;
  height: 10%;
  width: 100%;
  background-color: aliceblue;
  align-items: center;
  position:fixed;
  top: 0;
  z-index: 1000;
}
img {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}
body {
  background-color: rgb(108, 125, 220);
  margin:0px;
  padding-top: 10%;
}
div.Chapter_text {

  text-align: left;
  margin-bottom: 1.2em;
}

/*For mobile*/
@media (max-width: 768px) {
  .story-container {
    padding: 0 16px;
    font-size: 16px;
  }
}
